In [1]:
print("hello world")

hello world

In [4]:
import os

In [6]:
data_dir = 'data'
model_dir = 'models'

input_dir = os.path.join(data_dir, '00_input')
store_monthly_dir = os.path.join(data_dir, '01_store_monthly')
ml_base_dir = os.path.join(data_dir, '02_ml_base')
output_ml_result_dir = os.path.join(data_dir, '10_output_ml_result')
output_report_dir = os.path.join(data_dir, '11_output_report')
master_dir = os.path.join(data_dir, '99_master')

os.makedirs(input_dir, exist_ok=True)
os.makedirs(store_monthly_dir, exist_ok=True)
os.makedirs(ml_base_dir,exist_ok=True)
os.makedirs(output_ml_result_dir,exist_ok=True)
os.makedirs(output_report_dir,exist_ok=True)
os.makedirs(master_dir,exist_ok=True)
os.makedirs(model_dir,exist_ok=True)

In [11]:
import glob
tbl_order_file = os.path.join(input_dir, 'tbl_order_*.csv')
tbl_order_paths = glob.glob(tbl_order_file)
tbl_order_paths

['data\\00_input\\tbl_order_202004.csv',
 'data\\00_input\\tbl_order_202005.csv',
 'data\\00_input\\tbl_order_202006.csv',
 'data\\00_input\\tbl_order_202007.csv',
 'data\\00_input\\tbl_order_202008.csv',
 'data\\00_input\\tbl_order_202009.csv',
 'data\\00_input\\tbl_order_202010.csv',
 'data\\00_input\\tbl_order_202011.csv',
 'data\\00_input\\tbl_order_202012.csv',
 'data\\00_input\\tbl_order_202101.csv',
 'data\\00_input\\tbl_order_202102.csv',
 'data\\00_input\\tbl_order_202103.csv']

In [12]:
os.makedirs(os.path.join('models', 'trial'), exist_ok=True)

In [13]:
os.makedirs(os.path.join('trial', 'folder'), exist_ok=True)

In [14]:
import pandas as pd
m_area_file = 'm_area.csv'
m_store_file = 'm_store.csv'
m_area = pd.read_csv(os.path.join(master_dir, m_area_file))
m_store = pd.read_csv(os.path.join(master_dir, m_store_file))
m_area.head(3)

  area_cd wide_area narrow_area
0      SL        서울          서울
1      BS        부산          부산
2      DJ        대전          대전